<div class="my-5">
  <h1 class="text-center-mb-5">
    <%=title%>
  </h1>
  <div id="writer" class="text-end mb-5"><button class="btn btn-primary px-5">글쓰기</button></div>
</div>
<div id="div_bbs"></div>
<div class="text-center">
  <button id="prev" class="btn btn-primary">이전</button>
  <span id="page" class="mx-3">1/3</span>
  <button id="next" class="btn btn-primary">다음</button>
</div>
<script id="temp_bbs" type="x-handlebaers-template">
  <table class="table table-hover table-striped">
    <tr>
      <td>No.</td>
      <td>Title</td>
      <td>Email</td>
      <td>Date</td>
    </tr>
    {{#each.}}
    <tr>
      <td>{{seq}}</td>
      <td><a href="/bbs/{{id}}">{{title}}</a></td>
      <td>{{email}}</td>
      <td>{{date}}</td>
    </tr>
    {{/each}}
</script>
<script type="module">
  import { app } from '/javascripts/config.js'
  import { getFirestore, collection, query, orderBy, onSnapshot } from "https://www.gstatic.com/firebasejs/11.0.2/firebase-firestore.js";
  const db = getFirestore(app);

  // 게시글 목록
  const q = query(collection(db, "bbs"), orderBy("date", "desc"));
  const rows = [];
  onSnapshot(q, snapshot => {
    // 변수 값이 변하기 때문에 let 사용
    let no = 1;
    snapshot.forEach(row => {
      rows.push({ no: no++, id: row.id, ...row.data() })
    });
    getList();
  });

  // 게시판 글 수 3개씩 보이게 하기
  const size = 3;
  let page = 1;
  function getList() {
    // 1page : no1~5 , 2page : no6~10
    const start = (page - 1) * size + 1;
    const end = (page * size);
    let data = [];
    rows.forEach(row => {
      if (row.no >= start && row.no <= end) data.push({ ...row, seq: rows.length - row.no + 1 });
    });
    const temp = Handlebars.compile($("#temp_bbs").html());
    $("#div_bbs").html(temp(data));
    const last = Math.ceil(rows.length / size);
    $("#page").html(`${page}/${last}`);

    if (page == 1) $("#prev").attr("disabled", true);
    else $("prev").attr("disabled", false);

    if (page == last) $("#next").attr("disabled", true);
    else $("next").attr("disabled", false);
  }

  // 다음 버튼을 클릭한 경우
  $("#next").on("click", function () {
    page++;
    getList();
  });

  // 이전 버튼을 클릭한 경우
  $("#next").on("click", function () {
    page--;
    getList();
  });


  // 글쓰기 버튼을 클릭한 경우
  $("#writer").on("click", function () {
    if (email) {
      location.href = "/bbs/insert";
    } else {
      sessionStorage.setItem("target", "/bbs/insert");
      location.href = "/users/login";
    }
  });
</script>